<div class="task-title">
  <p>
    <strong>Title:</strong>
    <%= @task.title %>
  </p>
</div>

<div class="task-body">
  <p>
    <strong>Description:</strong>
    <%= markdown(@task.body) %>
  </p>
</div>

<div class="task-category">
  <% if @task.category %>
    <p>
      <strong>Category:</strong>
      <%= @task.category %>
    </p>
  <% end %>
</div>

<div class="task-time">
  <% if @task.time_required %>
    <p>
      <strong>Time estimate:</strong>
      <%= @task.time_required %> hours
    </p>
  <% end %>
</div>
