<%
 # app/views/tasks/_task_instructions.html.erb
 #
 # Render the instructions for a task, with an edit button for privilaged users.
 #
 %>

<p>
  <%= markdown Task.find(task).body %>
</p>
<%= if policy(task).edit? then link_to 'Edit', edit_task_path(task) end %>
