<div class='col-md-8'>
  <h3>You don't seem to be in a class</h3>
  <p>
    If you are using a personal computer you may be signed in to your personal
    Google (or Gmail) account. To access your class account, sign out and sign
    in again using your Highline Google account
    (your-student-number@g.highlineschools.org).
  </p>
</div>
