<div class="">
<div class='static-page col-8-sm'>
  <h1>Comment Guidelines</h1>

  <p> Comments are one of the ways that you can demonstrate your photographic
      skill and knowledge.</p>

  <p> Suggestions for making great comments:
    <ul>
      <li>  Be constructive. Consider the original author's purpose in the post that
            you are responding to and think about how to help her (or him) accomplish
            the goal.</li>
      <li>  Be specific.</li>
      <li>  Be honest.</li>
    </ul>
  </p>
</div>
</div>
