<h1>List of Courses</h1>

<%= link_to 'Add a course', new_course_path %>

<%= grid(@courses_grid) do |g|
  g.column name: 'Title' do  |c|
    link_to "#{c.title} (#{c.short_title})", c
  end

  g.column name: 'Sections' do |c|
    c.sections.map(&:name).join ', '
  end

  g.column name: '' do |c|
    link_to 'Show', course_path(c)
  end
  g.column name: '' do |c|
    link_to 'Edit', edit_course_path(c)
  end
  g.column name: '' do |c|
    link_to 'Delete', course_path(c), method: :delete,
            data: { confirm: 'Are you sure?' }
  end
end -%>
