<!--
---- app/views/posts/index.html.erb
----
---- Called as:
----   /                     - display all posts by current user
----   /posts                - display list of all posts
----   /users/:user_id/posts - display list of all posts for user :user_id
-->

<div class="post-index">
  <div class="post-index-author">
    <% unless @all_posts %>
      <h1 class="post-index-author">Posts by <%= @user.name %></h1><hr>
    <% end %>
  </div>
  <%= render 'post_index' %>
  <div>
    <% if policy(@user.posts.build).create? # TODO hack %>
    <%= link_to 'New Post', new_user_post_path(@user) %> |
    <% end %>
    <%= link_to 'Back', :users %>
  </div>
</div>
