<h1>List of Units</h1>

<%= link_to 'New Unit', new_unit_path %>

<br><br>

<%= grid(@units_grid) do |g|
  g.column name: 'Title' do  |c|
    link_to "#{c.title}", c
  end

  # TODO: add a 'taught in' column with short names of courses.
  # TODO: add a 'objectives' column with links to the objectives assessed.

  g.column name: 'Statement of Inquiry' do |c|
    markdown (truncate c.soi)
  end

  g.column name: 'Duration (hours)' do |c|
    c.duration
  end

  g.column name: '' do |c|
    link_to 'Show', unit_path(c)
  end
  g.column name: '' do |c|
    link_to 'Edit', edit_unit_path(c)
  end
  g.column name: '' do |c|
    link_to 'Delete', unit_path(c), method: :delete,
            data: { confirm: 'Are you sure?' }
  end
end -%>

<%= link_to 'New Unit', new_unit_path %>
