// Place all the styles related to the HomeStudent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  #student-status-main {
  }
  #student-status {
  }
  li.student-status {
    list-style: square;
  }
  span.student-status {
    color: black;
  }
  .red { color: red; }
  .green { color: green; }
  .orange { color: orange; }
  .blue { color: blue; }
