// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images {
  margin-bottom: 5px;
}

.actions {
  clear: left;
}

.field #post_title {
  width: 310px;
}

.field #post_body {
  width: 310px;
}

// Used by post#index

.post-index {
  width: 100%;
}

.post-index-author { font-size: 24px; }

.post-index-item {}

div.post-index-item-image {
  float: left;
  width: 25%;
  margin-right: 6px;
}

img.post-index-item-image {
  width: 100%;
}

.post-index-item-body {
  float: left;
}

.post-index-item-body-title { font-size: 24px; }

.post-index-item-text {}

.unpublished-post {
  font-size: 50%;
  font-weight: bold;
}

.index-item-edit-links {
  text-align: right;
}

// Used by post#show

.post-images {
  float: left;
  width: 25%;
  margin-right: 10px;
}

.post-image {
  width: 100%;
}

.post-image-caption {
  font-size: smaller;
  margin-top: 4px;
}

.post-image-link {
  text-align: right;
}

.post-links {
  clear: both;
}
