// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_field {
  border: 1px solid;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  float: left
}

.actions {
  clear: left;
}

.field #post_title {
  width: 310px;
}

.field #post_body {
  width: 310px;
}
