// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.images {
  margin-bottom: 5px;
}

.actions {
  clear: left;
}

.field #post_title {
  width: 310px;
}

.field #post_body {
  width: 310px;
}
