<%# TODO: implement real & effective UID so you can switch back. %>
<footer class='footer'>
  <% if user_signed_in? %>
    <div class='container'>
      <div id='footer-become'>
        <% if policy(User).become? %>
          <%= render 'layouts/su' %>
        <% end %>
      </div>
      <div>
        <button id='footnote-button' class='btn btn-info' type='button'
          data-toggle='collapse' data-target='#footnotes'>
          Footnotes
        </button>
      </div>
    </div>
  <% end %>
  <div id='footnotes' class='collapse'>
    <div id='footnotes_holder'></div>
  </div>
</footer>
