<%
 # app/views/layouts/_footer.html.erb
 #
 # Global page footer.
 #
 # TODO: implement real & effective UID so you can switch back.
 # TODO: helpter for Footnote display.
 %>
<footer class='footer'>
  <div class="container-fluid">
    <% if user_signed_in? || Rails.env.development? %>
      <div id='footer-become'>
        <% if policy(User).become? %>
          <%= render 'layouts/su' %>
        <% end %>
      </div>
    <% end %>
  </div>
</footer>
