<footer class='footer navbar navbar-default navbar-fixed-bottom'>
  <div class='container'>
    <% if Rails.env.development? && user_signed_in? %>
      <%= simple_form_for(
            :user,
            :url => become_users_path,
            :html => { :class => 'form-inline' }
      ) do |f| %>
        <%= f.button :submit, 'Become user' %>
        <%= f.input :id, label: false, collection: User.all %>
      <% end %>
    <% end %>
  </div>
</footer>
